<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <nav class="site-nav">
      <div class="trigger">
        <a target="_blank" class="page-link" href="https://github.com/2016-09-Middlebury-Data-Science/Topics">GitHub</a>
        <a target="_blank" class="page-link" href="https://rstudio.middlebury.edu/s/a74eb91e75a57102701c6/">RStudio Server</a>
        <a class="page-link" href="{{ site.baseurl }}/syllabus">Syllabus</a>
        <a class="page-link" href="{{ site.baseurl }}/calendar">Calendar</a>
        <a class="page-link" href="{{ site.baseurl }}/resources">Resources</a>
      </div>
    </nav>
  </div>
</header>


